.ArticleDetails{
    color: #142677;
}
.frame img{
    width: 100%;
    border-radius: 12px;
}
.title{
    font-size: 20px;
}
.About{
    font-size: 13px;
}
.About div{
    float: left;
}
.text{
    font-size: 14px;
    line-height: 43px;
}